* {
    padding:0;
    margin:0;
}
header {
    background-color:rgba(7, 11, 78, 0.8);
    height:80px;
    width:100%;
    position:fixed;    
}
h1 {
    color:white;
    position:absolute;
    left:120px;
    top:0;
    line-height: 80px;
    background-image:url(images/God.svg) ;
    background-repeat: no-repeat;
    background-position: center;
    width:210px;
    text-indent: 0px; 
}
header ul {
    position:absolute;
    right:5vw;
    top:0;
    line-height:80px;
}
header li {
    display:inline;
    margin-right:4vw;    
}
header a {
    color:white;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
.news {
    background-color: rgb(34, 210, 233);
    color:rgb(87, 11, 230);
    height:65vh;
    background-image: url("images/Museum of Light.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
} 
.news h2 {
    font-size:80px;
    margin-top:60px;
} 
.news p {
    color:rgb(87, 11, 230);
    font-size:40px;
    margin:25px 0;
}
.news a {
    color:rgb(87, 11, 230);
    text-decoration: none;
    border: 1px solid #ACACAC;
    padding:10px 20px;
    border-radius: 5px;
}
.slogan {
    color:rgb(230, 11, 11);
    height:250px;
    background-image: url("images/God.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    line-height: 1.8em;  
}
.shop {
    display:flex;
}
.shop img {
    width:50%;
}
.info {
    width:50%;
    color:white;
    background-image: url("images/A.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.info h2 {
    font-size:40px;
    margin-bottom: 30px;
}
.info p {
    text-align: center;
    line-height: 2em;
}
.product {
    display:flex;
    background-image: url("images/A.png");
    justify-content: right;
    align-items: right;
    padding: 0px 0px 0px;
}
.product div {
    color:white;
    width:5000px;
    text-align:center;
    
}
.product img {
    width:100%;
    border-radius: 0px;;
}
.product h3 {
    font-size: 20px;    
    margin: 20px ;
}
.product p {
    font-size:14px;
    line-height: 1.6em;
}
input::placeholder {
    color:#DDDDDD;
}
input:focus {
    outline: none; 
    border-color:#E0E9A3; 
}
footer {
    background-color:#000000;
    color:#B7B7B7;
    height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.menu {
    display:none;
}

/* 響應式設計語法 */
@media screen and (max-width: 768px) {
header ul {
    display:none;
}
header h1 {
    left:50%;
    transform: translateX(-50%);
}
.news h2 {
    font-size:40px;
}
.menu {
    display:block;
    background-color: transparent;
    color:white;
    font-size: 35px;
    position:absolute;
    top:15px;
    left:20px;
    border:none;
    cursor: pointer;
}
.shop {
    flex-direction: column;
}
.shop img {
    width:100%;
}
.info {
    width:100%;
    padding:40px 0;
}
.info h2 {
    font-size:30px;
}
.product {
    flex-direction: column;
    padding: 60px 0;
}
.product div {
    margin-bottom: 30px;
}
}